@import "common/foundation/variables";

//easy footer component
.custom-footer .list {text-align:right;}

.container, list-container {margin: auto 1.5em;} // add a margin to appease tablets and smaller screen sizes

.anon {background-color:$primary;color:$tertiary;} //container for login page
.body-page-button-container {display:block !important;} //login button for main viewport
.login-required {margin:0 auto;}
.login-required h2 {color:$primary;font-size:3em;padding:10px 0 500px;text-transform:uppercase;}

.sign-up-button, .login-button {color:$secondary;}
.login-button .svg-icon {color:$secondary !important;}
.btn-primary {border:1px solid $secondary;}

nav.post-controls .actions .double-button button.button-count+.toggle-like {padding:0;} // hack to get horizontal center
nav.post-controls .actions button {background:$primary-low;border:0;font-size:0.8em;} // adjusts reply button and their bretheren
nav.post-controls .actions button.d-hover {background:$tertiary;} // button hover bg

nav.post-controls .actions .double-button button.like.d-hover {background:$love;color:$primary;}
nav.post-controls button {border-radius:0.5em;background:rgba(0,0,0,0.1);min-width:40px;}
nav.post-controls button.d-hover, nav.post-controls button:hover {color:$secondary !important;}
nav.post-controls button .d-icon {color:$primary}
// name of poster in post blocks, these are links
.names span a {color:$tertiary !important;}
  .names span a:visited {color:$primary !important;}
// user cards block
.user-card {border-radius:0.8em;}

.unread-private-messages {background-color:$love;} //apple red
.d-header-icons .unread-notifications {background-color:$love;}

//menu icons, etc.
.d-header {box-shadow:none;border-bottom:none;height:6em;}
.d-header-icons .d-icon {color:$secondary;}
.d-header-icons .icon {border:0 !important;border-radius:0.5em;}
.d-header-icons .icon:hover .d-icon {border-radius:0.5em;}
.d-header-icons .icon:hover {background:$secondary !important;}

.d-header-icons .header-dropdown-toggle {margin-right:15px;}

// button text and iconography
.discourse-no-touch .btn-flat:hover .d-icon, .btn-flat .d-icon {color:$secondary;font-weight:700;}
.discourse-no-touch .btn:hover .d-icon {color:$secondary;}
// menu text and iconography
.discourse-no-touch .d-header-icons .icon:hover .d-icon {color:$tertiary !important;}

// quote block author
aside.quote .title {background:$primary-low !important;border-left:0 !important;border-radius:0.5em;margin-bottom:0.5em;padding:12px !important;}
// blockquotes
blockquote {background:$tertiary-low !important;border-left:5px solid $primary-low;}
.embedded-posts {border-radius:.5em;border:1px solid $primary-low !important;}

// posts
.topic-body {border:1px solid $primary-low !important;border-radius:0.8em;margin:0.5em auto;}
// avatar block beside posts
.topic-avatar {border-top:0 !important;padding-right:0.5em;}
// permalink block
.post-links-container .post-links {border:1px solid $primary-low !important;border-radius:0.5em;margin:10px 10px 10px 0 !important;padding:1em 1em 0 1em !important;}
.post-links-container ul {margin:0 !important;}
// block at the end of a page with posts
.topic-status-info, .topic-timer-info {border:0 !important;}
// post menu has 2 states, collapsed and uncollapsed
.post-menu-area {margin:10px !important;}

.topic-list-item.visited a.title:not(.badge-notification) {color:$primary;}
.select-kit.combo-box .select-kit-header {border:1px solid rgba(48,158,178,0.4);max-height:28px;}

.extra-info-wrapper .header-title {max-width:80%;}

div.menu-links-header .menu-links-row li a.active {border-radius:0.5em 0.5em 0 0;}
div.menu-links-header .fa {color:$primary;}

.discourse-no-touch .btn:hover {background:$tertiary;}
.btn-primary .d-icon {color:$secondary !important;}
nav.post-controls .double-button button.button-count:not(.my-likes) {padding-right:10px;margin-right:5px;}
.discourse-no-touch .sortable:hover {border-radius:0.5em;background:rgba(48,158,178,0.2);color:$tertiary;font-weight:700;font-size:0.85em;}

.topic-list-bottom {font-size:0.85em;}
.topic-list button.bulk-select {padding:5px;background:rgba(0,0,0,0.15);border-radius:0.5em;}
// all this for a drop of love
nav.post-controls .double-button button.like.d-hover .d-icon {color:$secondary !important;}
nav.post-controls .double-button button.like.d-hover {background:$love;}

.topic-list th, nav.post-controls button {font-size:0.85em;font-weight:700;color:$primary;}
.topic-list .topic-list-item-separator td {border-bottom:1px solid rgba(0,0,0,0.05);}
.topic-list .topic-list-item-separator td span {color:rgba(0,0,0,0.15);font-weight:700;}

.current-user {margin-right:0 !important;}

.badge-wrapper .badge-category .category-name {padding:1px 4px;}

.list-controls {font-size:0.9em !important;margin:0 !important;}
// new post button
.list-controls .btn .d-button-label {font-size:1em;font-weight:700;}

//handles the category breadcrumbs
.nav-pills>li>a, .badge-category-bg, .btn, .select-kit .select-kit-header {font-weight:700 !important;font-size:0.9em !important;border-radius:0.5em !important;padding:0.5em 1em !important;}
.nav-pills>li a.active {background:$tertiary}; //sets color of category pill
.nav-pills>li>a:hover {color:$tertiary;background:rgba(48,158,178,0.35)}; //color has to be hardcoded, pulled from tertiary
.alert {border-radius:0.5em !important; font-size:0.9em !important;padding:10px;}

.nav-interface {display:none;}
// drop down menu
.menu-panel {background:$secondary;border:0;border-radius:0.5em;box-shadow:0 10px 30px rgba(0,0,0,0.3);font-size:0.9em;}
.menu-panel li a.widget-link:hover {border-radius:0.5em;}
.menu-panel hr {border-top:0;height:5px;}
div.menu-links-header a {color:$primary;}
.user-menu .quick-access-panel li:not(.show-all) .d-icon {color:$tertiary;}

// the categories block on the homepage
.categories-list .category .category-description {font-weight:400;}
.category-logo.aspect-image {margin:0.33em 1em 1em 0;}
.category-heading .category-logo.aspect-image {display:none;}

aside.onebox {border:none;border-radius:0.5em;background:rgba(48,158,178,0.1);}
aside.onebox header a[href] {color:$primary;font-weight:700;}

blockquote {border-left:5px solid $tertiary;border-radius:0.5em;font-style:italic;}
.category-heading p {font-weight:700;}

.category-list .topics .value {color:$primary;}
.category-list .category .category-name{float:right;width: 90%;}
.category-list td:first-of-type {padding-left:0;}
.category-list .category .category-name + div{width: 10%;}
.category-list .category-name {font-size:1.2em;color:$primary;}
.category-list .category-logo.aspect-image {max-width: 50px;}
.category-list th, .table-heading, .latest-topic-list .table-heading {color:$primary;}
.category-list tbody .category, .drop-down-mode .d-header-icons .active .icon {border-left:none;}
.category-list .topics .badge-notification {color:$primary;font-weight:700;font-size:1em;}
.list-cell, .table-heading, .category-list td, .category-list th, .latest-topic-list .table-heading, .top-topic-list .table-heading {font-weight:700;font-size:0.9em;}
tr, .table-heading {border-bottom:none;}

tbody {border-top: none;}
// navigation block on the first post
.topic-map section {border-top:none;}
.topic-map {background:none;border:1px solid $primary-low;border-radius:0.5em;margin:10px !important;}
.topic-map .map button .d-icon {color:$tertiary;} // arrow on big button
.topic-map .map button:hover .d-icon, .topic-map .buttons .btn:hover {background:$tertiary;color:$secondary;}
// big button on topic block with arrow
.topic-map .buttons .btn {background:$primary-low;border-left:none;color:$tertiary !important;}
.deleted .topic-body {background:rgba(241,84,91,0.1);}
.login-required h2, .body-page {text-align:center;}
.body-page {margin:auto;}
.d-header #site-text-logo {font-size:0.9em;color:$tertiary;}
.drop-down-mode .d-header-icons .active .icon .d-icon {color:$tertiary;}

.modal-inner-container {border-radius:1em;}
.login-modal td label, .login-modal td input, .create-account td label, .create-account td input {border-radius:0.4em;}
.banner-box .section-header {padding-bottom:0;}
.banner-box {margin-left:calc(-51vw + 50%) !important;}
.alert.alert-info {margin:8px;background:rgba(0,0,0,0.05);}

// divs inside the latest posts block on the homepage (border has to be hardcoded to support dark mode)
.latest-topic-list-item {border:0.5px solid rgba(0,0,0,0.2) !important;border-radius:0.8em;box-shadow:5px 5px 10px rgba(0,0,0,0.075);margin-bottom:1em;}
.latest-topic-list-item.visited a.title:not(.badge-notification) {color:$primary;}
.latest-topic-list-item .main-link a.title {font-size:0.85em;}
.latest-topic-list-item .topic-last-activity a, .badge-posts[href] {color:$primary;font-weight:700;}

.extra-info-wrapper {line-height:auto;}
.extra-info-wrapper .topic-link {color:$secondary;font-size:1em;line-height:2;}
.extra-info-wrapper .header-title {width:auto;overflow:hidden;}
.badge-wrapper .badge-category .category-name {font-weight:700;}

.post-notice.old, .post-notice {background-color:rgba(0,0,0,0.05);border-radius:0.4em;border:0;justify-content:center;margin-bottom:25px;}

.user-menu .quick-access-panel .d-icon {color:$tertiary;}
.drop-down-mode .d-header-icons .active .icon {border-radius:0.5em 0.5em 0 0;}
.footer-block {width:100%;display:none;}
.footer-text {font-size:0.8em;color:$tertiary;text-align:center;}
.select-kit .select-kit-header {padding:0 1em !important;}
.title-wrapper .topic-statuses .d-icon {color:$primary;}
.lightbox-wrapper, .lightbox-wrapper *, nav.post-controls .double-button button.like.d-hover, .search-menu input[type="text"] {border-radius:0.4em;}
.user-menu .quick-access-panel li {border-radius:0.5em;margin:0.5em auto;}

// timeline handle found on post pages
.timeline-container .topic-timeline .timeline-handle {background:$tertiary}

.share-and-invite {display:none;} //kills share button

// custom footer block for easy footer plugin
.custom-footer {background:$primary !important;border-top:0 !important;color:$primary !important;}
.custom-footer .flexbox {color:$secondary !important;}
.custom-footer .third-box {border-top:0 !important;}
.custom-footer .third-box .social .social-link .d-icon {color:$tertiary !important;}

// reduce tag font size
.badge-wrapper {font-size:var(--font-down-2);}
.category-list .category-name {color:$primary;font-size:var(--font-down-1);}
.categories-list .category .category-logo.aspect-image {}

.category-list .topics {display:none;}
.categories-and-latest div.column.categories {max-width:40%}

// text beside tracking button at the end of a post page
#topic-footer-buttons .topic-notifications-button .reason .text {font-size:0.8em;}
